:root.theme-light {
  --background-image: url(../images/cover-image-light.png);
  --background-color: #fff1f7;
  --accent-bg-color: #ff8dcb;
  --accent-text-color: #353430;
  --accent-focus-color: #ffc2e6;
  --text-color: #353430;
  --heading-text-color: #353430;
  --button-hover-color: #32312d66;
}
.theme-light .recording {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --background-color: #fff1f7;
    --accent-bg-color: #ff8dcb;
    --accent-text-color: #353430;
    --accent-focus-color: #ffc2e6;
    --text-color: #353430;
    --heading-text-color: #353430;
    --button-hover-color: #32312d66;
  }
  .theme-auto .recording {
    display: none;
  }
}
